{% extends "app/base.html" %}

{% block title %}Listado de Alumnos{% endblock %}

{% block content %}
<h2>Listado de alumnos</h2>

<ul>
    {% for alumno in alumnos %}
        <li>
            <a href="{%url 'detalle_alumno' alumno.id%}">{{alumno.nombre}} {{alumno.apellidos}}</a>
            <a href="{% url 'editar_ficha' alumno.pk %}">Editar</a>
            <a href="{% url 'eliminar_ficha' alumno.pk %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'crear_ficha' %}">Crear nueva ficha</a>

{% endblock %}.