{% extends 'tienda/base.html'%}

{% block title %}Detalle del producto{% endblock %}

{% block content %}

<h1>Detalle del producto</h1>

<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Nombre:</strong> {{ producto.nombre }}</li>
    <li class="list-group-item"><strong>Modelo:</strong> {{ producto.modelo }}</li>
    <li class="list-group-item"><strong>Precio:</strong> {{ producto.precio }} €</li>
    <li class="list-group-item"><strong>Unidades disponibles:</strong> {{ producto.unidades }}</li>
</ul>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Confirmar</button>
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}

